// Paths
$images-path: '../../images/app/';
$fonts-path: '../../fonts/';

// Fonts
$font-1: Georgia;
$font-2: Open Sans;

// Theme Colors
$theme-color-1: #fff; // white
$theme-color-2: #000; // black
