<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{{title}}</title>

	<!-- Dev -->
	<link rel="stylesheet" href="./styles/lib/foundation.css" />
	<link rel="stylesheet" href="./styles/lib/foundation-datepicker.css" />
	<link rel="stylesheet" href="./styles/lib/font-awesome.css" />
	<link rel="stylesheet" href="./styles/lib/slick.css" />
	<link rel="stylesheet" href="./styles/app/app.css" />

	<!-- prod -->
	<!--
	<link rel="stylesheet" href="./styles/lib/lib.min.css" />
	<link rel="stylesheet" href="./styles/app/app.min.css" />
	-->
	
	<script src="./js/lib/modernizr.js"></script>

	<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/nwmatcher/1.2.5/nwmatcher.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
		<script src="./js/lib/ie8/rem.js"></script>
	<![endif]-->

</head>
<body>
	
	<!-- start layout -->
	<div id="layout-default">

		<header class="header">

			<div class="row">
				<div class="large-12 columns">
					<ul id="nav" class="button-group">
						<li class="nav-index"><a href="#" class="button">Home</a></li>
						<li><a href="#" class="button">Link 2</a></li>
						<li><a href="#" class="button">Link 3</a></li>
						<li><a href="#" class="button">Link 4</a></li>
						<li><a href="#" class="button">Link 5</a></li>
						<li><a href="#" class="button">Link 6</a></li>
						<li><a href="#" class="button">Link 7</a></li>
					</ul>
				</div>
			</div>

		</header>

		<div id="content">
			{{> body }}
		</div>

		<footer class="row">
			<div class="large-12 columns">
				<hr/>
				<div class="row">
					<div class="large-6 columns">
						<p>© Copyright no one at all. Go to town.</p>
					</div>
					<div class="large-6 columns">
						<ul class="inline-list right">
							<li><a href="#">Link 1</a></li>
							<li><a href="#">Link 2</a></li>
							<li><a href="#">Link 3</a></li>
							<li><a href="#">Link 4</a></li>
							<li><a href="#">Link 5</a></li>
							<li><a href="#">Link 6</a></li>
							<li><a href="#">Link 7</a></li>
						</ul>
					</div>
				</div>
			</div> 
		</footer>

	</div> <!-- /layout -->

	<script src="./js/lib.js"></script>
	<script src="./js/app.js"></script>

	<!--[if lte IE 9]>
		<script src="./js/lib/ie8/placeholder.js"></script>
		<script type="text/javascript">
			$('input, textarea').placeholder();
		</script>
	<![endif]-->
</body>
</html>
